# dependencies
/node_modules
/cypress/screenshots/**
/cypress/videos/**
/cypress/reports/**
/results/**
/reports/mocha/*
/mochawesome-report/
debug.log
cypress/har/*
mochareports/report.html
mochareports/mochawesome.json
mochareports/assets/*
